html
 head
  title="Exito"
  script alert("Usuario Actualizado");
  link(rel="stylesheet", type="text/css", href="/css/estilos.css")
  body
   form(action='/Login/seUsuario', method='get')
    button(id="mButton",type='submit',name='buttonModifircar') Regresar 
     
   